<nav style="padding-left: 5px;" class="navbar navbar-expand-sm navbar-dark bg-dark">

        
    <a class="navbar-brand" >myApp</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li *ngIf="is_admin!='ADMIN'" routerLinkActive="active" routerLink="/home" class="nav-item active">
                <a  class="nav-link" href="/home"><b>Home</b></a>
            </li>
            <li *ngIf="is_admin=='ADMIN'" routerLinkActive="active" routerLink="/acceuil" class="nav-item active">
                <a  class="nav-link" href="/acceuil"><b>Home</b></a>
            </li>
            <li *ngIf="is_admin!='ADMIN'" routerLinkActive="active" class="nav-item active">
                <a  class="nav-link" routerLink="/forms" href="/forms"><b>List</b></a>
            </li>
            <li *ngIf="is_admin=='ADMIN'" routerLinkActive="active" class="disabled">
                <div class="dropdown">
                    <a class="nav-link bg-dark"><b>Gestion</b></a>
                    <div class="dropdown-content bg-dark">
                        <a  class="nav-link" routerLink="/gestion/user" href="/gestion/user"><b>User</b></a>
                        <a  class="nav-link" routerLink="/gestion/ville" href="/gestion/ville"><b>Ville</b></a>
                        <a  class="nav-link" routerLink="/gestion/vehicule" href="/gestion/vehicule"><b>Véhicule</b></a>
                        <a  class="nav-link" routerLink="/gestion/produit" href="/gestion/produit"><b>Produit</b></a>
                        <a  class="nav-link" routerLink="/gestion/probleme" href="/gestion/probleme"><b>Probleme</b></a>
                        <a  class="nav-link" routerLink="/gestion/solution" href="/gestion/solution"><b>Solution</b></a>
                        <a  class="nav-link" routerLink="/gestion/ref" href="/gestion/ref"><b>Référence</b></a>
                    </div>
                </div>
            </li>
            <li *ngIf="is_admin=='ADMIN'" routerLinkActive="active" class="nav-item active">
                <a  class="nav-link" routerLink="/dashboard" href="/dashboard"><b>Dashboard</b></a>
            </li>
            
            
            
        </ul>
       
        <span class="navbar-text logout">
            <p>{{idUser}} &nbsp; <button (click)="Logout()"  class="btn btn-sm btn-warning ">Logout</button></p>
        </span>
        
    </div>
</nav>



<script></script>